APP_ENV=dev
MODEL_VERSION=1.0.0

MSSQL_SERVER=localhost
MSSQL_PORT=1433
MSSQL_DATABASE=BostonHousingDB
MSSQL_USER=sa
MSSQL_PASSWORD=CHANGE_ME
MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_ENCRYPT=no
MSSQL_TRUST_SERVER_CERTIFICATE=yes
